.date-input-wrapper {
  position: relative;
  flex: 1;
}

.date-input-wrapper input[type="date"] {
  width: 100%;
  padding: 10px;
}

.date-input-wrapper span {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
}
